<!DOCTYPE html>
<html>
<title>ODONTOPREV __CdCorretora__</title>
<style>
    div#tablecontainer {
        width: 100%;
    }

    div.tablecontainerrow {
        clear: both;
        overflow: hidden;
    }

    div#tablecontainer div div.column1 {
        width: 33%;
        float: left;
    }

    div#tablecontainer div div.column2 {
        width: 50%;
        float: left;
    }

    div#tablecontainer div div.column3 {
        width: 100%;
        float: left;
    }

    .titleContratacao {
        color: #1974CE;
        text-align: center;
    }

    .titleBloco {
        color: #1974CE;
        text-align: left;
    }

    .fontRobotoBold {
        font-family: Roboto-Bold;
    }

    .test td {
        border: 1px solid green;
    }

    .coluna1 {
        width: 33%;
    }

    .coluna2 {
        width: 50%;
    }

    .coluna3 {
        width: 100%;
    }

    .espacamento-vertical {
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .fonte-titulo-geral {
        font-style: Roboto, Regular;
        font-size: 26px;
        color: #1974CE;
        /*azul*/
    }

    .fonte-titulo-blocos {
        font-style: Roboto, Regular;
        font-size: 20px;
        color: #1974CE;
        /*azul*/
    }

    .fonte-label-empresa {
        font-style: Roboto, Regular;
        font-size: 15px;
        color: #656565;
        /*cinza claro*/
    }

    .fonte-value-empresa {
        font-style: Roboto, Medium;
        font-size: 16px;
        color: #656565;
        /*cinza claro*/
    }

    .fonte-titulo-ben-dep {
        font-style: Roboto, Regular;
        font-size: 14px;
        color: #1974CE;
        /*azul*/
    }

    .fonte-dados-ben-dep {
        font-style: Roboto, Regular;
        font-size: 14px;
        color: #656565;
        /*cinza escuro*/
    }

</style>

<body>
<!-- <img src="C:\Users\almei\dev\APPS\portal-corretor-api\est-portalcorretor-api\portal-corretor-servico\src\main\resources\templates\logo.png"/> -->
<div style="text-align: center">
    <!-- tamanho da imagem copiado do pdf modelo vide jira COR-587 //201808271645 -->
    <img width="163.39px" height="93.51px" src="https://www.parceirosodontoprev.com.br/img/logo.png"/>
</div>
<!-- <img src="..\images\logo.png"/> -->
<p class="titleContratacao fontRobotoBold fonte-titulo-geral"><b>CONTRATO DE PRESTAÇÃO DE SERVIÇOS</b></p>

<!-- INICIO MIOLO -->
<p>
    Pelo presente instrumento particular, de um lado ODONTOPREV S.A., com sede no
    Município de Barueri, Estado de São Paulo, Avenida Marcos Penteado de Ulhôa
    Rodrigues, nº 939, Torre Jatobá, 14º andar, Barueri, São Paulo, CEP 06460-040, inscrita
    no CNPJ/MF sob o n.º 58.119.199/0001-51, neste ato representada na forma de seus
    atos constitutivos, doravante denominada simplesmente ODONTOPREV, e de outro
    lado <b>__RazaoSocial__</b>, com sede no Município de <b>__Cidade__</b>, Estado de
    <b>__Estado__</b>, na <b>__Endereco__</b>, n.º <b>__Numero__</b>, <b>__Complemento__</b>, <b>__Bairro__</b>,
    CEP <b>__CEP__</b>, inscrita no CNPJ/MF sob o n.º <b>__CNPJ__</b>,
    neste ato representada na forma de seus atos constitutivos, doravante designada simplesmente
    CONTRATADA, têm entre si, como justo e contratado, o presente Contrato de Prestação de Serviços,
    o qual será regido pelos seguintes termos e condições:
</p>

<p><b>I – DO OBJETO</b></p>
<p>
    1. - Pelo presente, e nos melhores termos de direito, a ODONTOPREV contrata a CONTRATADA,
    sem qualquer tipo de exclusividade, para a promoção e venda de PRODUTOS ODONTOPREV de propriedade
    da ODONTOPREV, sem limitação de território e/ou clientela.
</p>
<p>
    1.1. - Definem-se, para os fins deste contrato, como PRODUTOS ODONTOPREV todos os produtos,
    serviços e operações que a ODONTOPREV oferece ao mercado, como planos e convênios de previdência
    odontológica, e outros que venha a desenvolver nesse campo.
</p>
<p>
    1.2. - Os contratos celebrados pela ODONTOPREV com clientes prospectados pela CONTRATADA serão
    considerados pela primeira como exclusivos da segunda para fins de vendas subsequentes.
</p>
<p>
    1.3. - A ODONTOPREV se reserva no direito de, a qualquer tempo, tirar quaisquer clientes desta
    relação caso a CONTRATADA não cumpra suas obrigações perante a ODONTOPREV ou perante seu(s) cliente(s).
</p>

<p><b>II – DAS PROPOSTAS</b></p>
<p>
    2.1. As pré-propostas angariadas pela CONTRATADA serão encaminhadas à sede da ODONTOPREV,
    as quais serão submetidas à aprovação expressa da ODONTOPREV, cabendo a esta ultimar detalhes.
</p>
<p>
    2.2. A recusa na aceitação das propostas angariadas pela CONTRATADA poderá ser manifestada
    dentro do prazo de 15 (quinze) dias pela ODONTOPREV, a contar da data do recebimento das mesmas.
</p>

<p><b>III – DA COMISSÃO</b></p>
<p>3.1. Pelas vendas que efetivamente vier a realizar, a ODONTOPREV pagará à CONTRATADA,
    a título de remuneração o montante calculado conforme segue:
</p>
<p><b>PLANO PME:</b></p>
<p>
    300% (trezentos por cento) de agenciamento equivalente ao primeiro faturamento mensal liquido
    verificado pela ODONTOPREV em razão do contrato celebrado com a Cliente.
</p>
<p>
    Comissão de 5% (cinco por cento) do faturamento líquido mensal verificado pela ODONTOPREV
    em razão do contrato celebrado com a Cliente.
</p>

<p><b>PLANO INDIVIDUAL (MENSAL):</b></p>
<p>
    150% (cento e cinquenta por cento) de agenciamento equivalente ao primeiro faturamento mensal
    líquido verificado pela ODONTOPREV em razão do contrato celebrado com a Cliente.
</p>
<p>
    Comissão de 5% (cinco por cento) do faturamento líquido mensal verificado pela ODONTOPREV em
    razão do contrato celebrado com a Cliente.
</p>

<p><b>PLANO INDIVIDUAL (ANUAL):</b></p>
<p>
    18% (dezoito por cento) de agenciamento equivalente ao primeiro faturamento mensal líquido
    verificado pela ODONTOPREV em razão do contrato celebrado com a Cliente.
</p>
<p>
    3.2. As comissões apuradas, conforme o disposto no item 3.1, serão pagas de acordo com a tabela abaixo:
</p>
<p>
<table border="1" align="center">
    <tr>
        <th><b>Período</b></th>
        <th><b>Período de Apuração</b></th>
        <th><b>Data de Pagamento</b></th>
    </tr>
    <tr>
        <td>1º período</td>
        <td>De 26 a 05 de cada mês</td>
        <td>Dia 12 subsequente</td>
    </tr>
    <tr>
        <td>2º período</td>
        <td>De 06 a 15 de cada mês</td>
        <td>Dia 22 subsequente</td>
    </tr>
    <tr>
        <td>3º período</td>
        <td>De 16 a 25 de cada mês</td>
        <td>Dia 02 subsequente</td>
    </tr>
</table>
</p>

<p>
    A data de apuração pode variar de acordo com os dias úteis do mês.
    Sempre considerar o próximo dia útil quando a data de apuração ou do pagamento cair em sábado, domingo ou feriado.
</p>

<p>
    3.3. Não será devido à CONTRATADA qualquer retribuição/remuneração em casos de não pagamento
    pelo(s) cliente(s) do(s) valor(es) devido(s) em face do(s) contrato(s) celebrado(s),
    desfazimento(s) de venda(s) ou recusa(s) no recebimento de plano ou convênio, por causa só a ele(s),
    cliente(s), imputável, ou, ainda, em casos de sustação de venda(s) devido à situação do cliente
    capaz de comprometer, ou tornar duvidoso, o pagamento, ficando desde logo estabelecido que,
    uma vez efetuado o pagamento, ou restabelecida a venda por qualquer razão, a(s) retribuição(ões)
    devida(s) voltará(ão) a ser paga(s) à CONTRATADA.
</p>

<p>
    3.3.1. Nos casos previstos no item 3.3. acima, não havendo pagamento de um cliente, ou, ainda,
    não tendo sido restabelecida a venda, a remuneração eventualmente creditada antecipadamente à
    CONTRATADA deverá ser por esta devolvida à ODONTOPREV, no prazo máximo e improrrogável de
    24 (vinte e quatro) horas, contados do recebimento de correspondência encaminhada pela ODONTOPREV
    nesse sentido.
</p>

<p>
    3.4. Não serão devidos quaisquer pagamentos à CONTRATADA se qualquer dos clientes da ODONTOPREV
    que tenham sido por ela, CONTRATADA, intermediados solicitem expressamente a rescisão do contrato
    do plano odontológico ou a destituição da CONTRATADA.
</p>

<p>
    3.5. A CONTRATADA concorda que será fator de redução do pagamento contratado a diminuição do
    número de beneficiários inscritos por um dado cliente ou a reclassificação dos beneficiários
    inscritos por um dado cliente, sem que com isso se verifique a cláusula “Del Credere”.
</p>

<p>
    3.6. A remuneração estabelecida no item 3.1. supra será devida à CONTRATADA somente sobre contrato(s)
    efetivado(s) por cliente(s) por ela prospectados.
</p>

<p>
    3.7. Caberá a CONTRATADA emitir, mensalmente, nota fiscal de serviços no valor total da
    remuneração a ela devida, e entregá-la à ODONTOPREV até a “Data de Pagamento” estabelecida na Tabela do item 3.2.
</p>

<p><b>IV – REGRA DO ESTORNO DO AGENCIAMENTO</b></p>
<p>
    4.1. Para os cancelamentos por iniciativa do beneficiário ou por inadimplência, ocorridos mensalmente referente
    aos planos com modalidade de pagamento mensal, a <b>ODONTOPREV</b> realizará os respectivos percentuais de estornos
    do quadro abaixo, do valor de repasse devido à <b>PARCEIRA</b>, previsto na cláusula III do presente instrumento:
</p>

<p>
<table border="1" align="center">
    <tr>
        <th><b>Ocorrendo Cancelamento Com</b></th>
        <th><b>Percentual de Estorno de Agenciamento</b></th>
    </tr>
    <tr>
        <td><b>1ª parcela paga – inadimplência com exclusão na 2ª parcela/mês</b></td>
        <td>Recuperação de 85% do agenciamento NO CONTRATO</td>
    </tr>
    <tr>
        <td><b>2ª parcela paga – inadimplência com exclusão na 3ª parcela/mês</b></td>
        <td>Recuperação de 80% do agenciamento NO CONTRATO</td>
    </tr>
    <tr>
        <td><b>3ª parcela paga – inadimplência com exclusão na 4ª parcela/mês</b></td>
        <td>Recuperação de 70% do agenciamento NO CONTRATO</td>
    </tr>
    <tr>
        <td><b>4ª parcela paga – inadimplência com exclusão na 5ª parcela/mês</b></td>
        <td>Recuperação de 60% do agenciamento NO CONTRATO</td>
    </tr>
    <tr>
        <td><b>5ª parcela paga – inadimplência com exclusão na 6ª parcela/mês</b></td>
        <td>Recuperação de 50% do agenciamento NO CONTRATO</td>
    </tr>
    <tr>
        <td><b>6ª parcela paga – inadimplência com exclusão na 7ª parcela/mês</b></td>
        <td>Recuperação de 40% do agenciamento NO CONTRATO</td>
    </tr>
</table>
</p>

<p>
    4.2. Para os cancelamentos por iniciativa do beneficiário ou por inadimplência, ocorridos mensalmente referente aos
    planos com modalidade de pagamento anual, a ODONTOPREV realizará os respectivos percentuais de estornos do quadro
    abaixo,
    do valor de repasse devido à PARCEIRA, previsto na cláusula III do presente instrumento:
</p>

<p>
<table border="1" align="center">
    <tr>
        <th><b>Valor proporcional devolvido ao beneficiário</b></th>
        <th><b>Valor a ser estornado do Parceiro</b></th>
    </tr>
    <tr>
        <td><b>1/12 parcela devolvida</b></td>
        <td>100% dos agenciamentos pagos referente a 1 parcela será estornado.</td>
    </tr>
    <tr>
        <td><b>2/12 parcelas devolvidas</b></td>
        <td>100% dos agenciamentos pagos referente a 2 parcelas será estornado.</td>
    </tr>
    <tr>
        <td><b>3/12 parcelas devolvidas</b></td>
        <td>100% dos agenciamentos pagos referente a 3 parcelas será estornado.</td>
    </tr>
    <tr>
        <td><b>4/12 parcelas devolvidas</b></td>
        <td>100% dos agenciamentos pagos referente a 4 parcelas será estornado.</td>
    </tr>
    <tr>
        <td><b>5/12 parcelas devolvidas</b></td>
        <td>100% dos agenciamentos pagos referente a 5 parcelas será estornado.</td>
    </tr>
    <tr>
        <td><b>6/12 parcelas devolvidas</b></td>
        <td>100% dos agenciamentos pagos referente a 6 parcelas será estornado.</td>
    </tr>
    <tr>
        <td><b>7/12 parcelas devolvidas</b></td>
        <td>100% dos agenciamentos pagos referente a 7 parcelas será estornado.</td>
    </tr>
    <tr>
        <td><b>8/12 parcelas devolvidas</b></td>
        <td>100% dos agenciamentos pagos referente a 8 parcelas será estornado.</td>
    </tr>
    <tr>
        <td><b>9/12 parcelas devolvidas</b></td>
        <td>100% dos agenciamentos pagos referente a 9 parcelas será estornado.</td>
    </tr>
    <tr>
        <td><b>10/12 parcelas devolvidas</b></td>
        <td>100% dos agenciamentos pagos referente a 10 parcelas será estornado.</td>
    </tr>
    <tr>
        <td><b>11/12 parcelas devolvidas</b></td>
        <td>100% dos agenciamentos pagos referente a 11 parcelas será estornado.</td>
    </tr>
    <tr>
        <td><b>12/12 parcelas devolvidas</b></td>
        <td>100% dos agenciamentos pagos referente a 12 parcelas será estornado.</td>
    </tr>
</table>
</p>

<p>
    4.3. Ocorrendo o previsto no item 4.1 e 4.2, a ODONTOPREV realizará o estorno do percentual
    dos valores nos próximos meses de repasses de agenciamento/comissão devido à PARCEIRA.
</p>

<p><b>V - DAS RESPONSABILIDADES E OBRIGAÇÕES DA ODONTOPREV</b></p>
<p>
    5.1. - 	A ODONTOPREV concederá à CONTRATADA assistência de vendas na forma de:
</p>
<p>I - 	informações sobre serviços;</p>
<p>II - 	informações técnicas, quando a CONTRATADA assim considerar aconselhável;</p>
<p>III - 	quantidades razoáveis de material de propaganda, se disponível.</p>

<p><b>VI – DAS RESPONSABILIDADES E OBRIGAÇÕES DA CONTRATADA</b></p>
<p>6.1. - 	Durante a vigência deste contrato, a CONTRATADA se obriga a:</p>

<p>
    Providenciar todos os recursos humanos e materiais necessários para o fiel cumprimento das
    obrigações ora contratadas, prestando toda a assistência de vendas aos clientes a seu cargo,
    fornecendo-lhes esclarecimentos e atendendo às reclamações que porventura venham a fazer,
    procurando sempre conciliar harmoniosamente os interesses da ODONTOPREV com os dos clientes.
</p>

<p>
    Promover e assistir vendas dos PRODUTOS ODONTOPREV, agenciando propostas e remetendo para
    apreciação da ODONTOPREV os pedidos que lhe chegarem, os quais deverão ser acompanhados das
    respectivas fontes de informações comerciais relativas aos clientes ou de sua ficha cadastral.
</p>

<p>
    Fornecer à ODONTOPREV, e sempre que assim lhe for solicitado, todas e quaisquer informações
    disponíveis em seus arquivos, relacionadas com as vendas e outras atividades previstas neste contrato,
    inclusive informações acerca do desenvolvimento dos negócios e propostas em andamento.
</p>

<p>
    Não fornecer aos clientes ou a terceiros quaisquer garantias adicionais em relação aos serviços
    prestados pela ODONTOPREV, além das contidas nas publicações da propaganda, folhetos, propostas e/ou contrato.
</p>

<p>
    Não receber em nome da ODONTOPREV quaisquer pagamentos a ela devidos sem o seu prévio e expresso consentimento.
</p>

<p>
    Não ceder, não transferir, não dividir, não negociar de forma alguma, total ou parcialmente, os direitos
    e obrigações estipulados neste contrato sem o consentimento prévio e expresso da ODONTOPREV,
    como também não delegar a terceiros poderes para o cumprimento deste contrato.
</p>

<p>
    Indenizar a ODONTOPREV por quaisquer ações ou omissões suas ou de seus prepostos, em virtude de reclamação
    justificável de terceiros que resultar em danos ou despesas àquela.
</p>

<p>
    Praticar todos os atos necessários para preservar a boa reputação comercial da ODONTOPREV e de seus produtos.
</p>

<p>
    Não revelar a terceiros segredos, informações comerciais e quaisquer outros dados que lhe forem
    revelados pela ODONTOPREV em face do presente contrato.
</p>

<p>
    Atender eventuais sugestões feitas por um funcionário de vendas designado pela ODONTOPREV com relação a representação ora ajustada.
</p>

<p>
    Não conceder aos seus clientes, quaisquer descontos, abatimentos e prorrogações de prazos para pagamento,
    bem como não aceitar a rescisão de contratos, por parte dos clientes, sem a autorização por escrito da ODONTOPREV.
</p>

<p>
    Observar e cumprir pontualmente os requisitos e obrigações legais e encargos tributários decorrentes
    dos serviços por ele executados, cobertos pelo presente contrato.
</p>

<p>
    Informar a ODONTOPREV, em tempo hábil, sobre eventuais licitações de que tiver conhecimento e que possam,
    de alguma maneira, ser do interesse da ODONTOPREV.
</p>

<p>
    6.2.     A CONTRATADA obriga-se a obedecer todas as leis e normas incidentes sobre o objeto do presente instrumento,
    obrigando-se a indenizar a ODONTOPREV, caso venha esta a ser autuada pelas autoridades competentes em face de
    descumprimento do disposto na presente cláusula.
</p>

<p>
    6.3.    Em nenhuma circunstância deverá a CONTRATADA repassar quaisquer recursos da ODONTOPREV,
    ou recursos decorrentes deste contrato, a qualquer diretor, chefe e/ou funcionário dos clientes,
    nem deverá efetuar pagamentos ilegais com estes recursos.
</p>

<p>
    6.4.     A CONTRATADA deverá submeter para análise e anuência da ODONTOPREV todas as contratações de
    Pessoas Jurídicas e/ou Entidades na MODALIDADE COLETIVO POR ADESÃO, para que esta proceda a verificação
    dos critérios de elegibilidade dispostos nos   Artigo 9º da Resolução Normativa nº 195/2009 da Agência Nacional
    de Saúde Suplementar.
</p>

<p>
    6.5.     A CONTRATADA deverá submeter para análise e anuência da ODONTOPREV todas as contratações efetuadas
    por órgãos da administração direta, os fundos especiais, as autarquias, as fundações públicas,
    as empresas públicas, as sociedades de economia mista e demais entidades controladas direta ou
    indiretamente pela União, Estados, Distrito Federal e Municípios para que esta proceda a verificação dos
    critérios de elegibilidade dispostos nos  termos da  HYPERLINK
    "http://legislacao.planalto.gov.br/legisla/legislacao.nsf/Viw_Identificacao/lei%208.666-1993?OpenDocument"
    Lei nº 8.666, de 21 de junho de 1993.
</p>

<p>
    6.6.  O presente contrato não gera nenhum outro direito a CONTRATADA além daqueles ora estipulados,
    não sendo a CONTRATADA, nem seus empregados e/ou prepostos, em nenhuma circunstância, considerada agente da ODONTOPREV,
    não lhes assistindo a faculdade de firmar contratos ou avenças em nome da ODONTOPREV, ou obrigá-la a qualquer
    responsabilidade que não esteja expressamente prevista neste instrumento.
</p>

<p><b>VII – DA VIGÊNCIA</b></p>
<p>
    7.1.     O presente contrato iniciar-se-á na data de sua assinatura e vigorará por tempo indeterminado,
    podendo ser denunciado sem ônus, mediante comunicação prévia e expressa, encaminhada por uma parte à
    outra com antecedência mínima de 30 (trinta) dias.
</p>

<p>
    7.2.    No término das relações contratuais entre as partes, a CONTRATADA deverá cessar imediatamente toda
    e qualquer intermediação de negócio relacionado às vendas dos planos e convênios e devolver à ODONTOPREV
    todos e quaisquer documentos de caráter técnico e/ou comercial relacionados aos PRODUTOS ODONTOPREV ou à
    ODONTOPREV que lhe tiverem sido entregues em decorrência da representação ora estabelecida.
</p>

<p><b>VIII – DA RESCISÃO</b></p>
<p>
    8.1. 	Este contrato estará imediatamente rescindido, independentemente de quaisquer notificações ou interpelações,
    na ocorrência dos seguintes eventos:
</p>

<p>
    pedido de falência, de recuperação judicial ou liquidação, judicial ou extrajudicial, ou ainda, qualquer outra forma de
    cessação de atividades de qualquer das partes;
</p>

<p>
    desídia da CONTRATADA no cumprimento das obrigações ora assumidas;
</p>

<p>
    prática de atos pela CONTRATADA que importem em descrédito comercial da ODONTOPREV;
</p>

<p>
    protesto devido de títulos de qualquer das partes;
</p>

<p>
    se qualquer das partes infringir quaisquer das cláusulas deste contrato e não sanar tal falha dentro de
    30 (trinta) dias à contar do recebimento de notificação, por escrito, nesse sentido, da outra parte;
</p>

<p>
    em caso de força maior.
</p>

<p>
    8.2.    Fica ajustado que a transgressão de qualquer cláusula deste contrato motivará a sua imediata rescisão,
    cabendo à parte inocente propor as medidas judiciais cabíveis para exercer seus direitos.
</p>

<p>
    8.3.   Na hipótese de ocorrer alteração no quadro societário da CONTRATADA, esta deverá comunicar o fato incontinente
    à ODONTOPREV, ficando facultado a esta o direito de rescindir o presente ajuste por justa causa, caso a ODONTOPREV
    não concorde com a modificação ocorrida.
</p>

<p><b>IX – DO SIGILO</b></p>
<p>
    9.  	A CONTRATADA concorda que quaisquer informações técnicas concedidas pela ODONTOPREV não deverão ser
    transmitidas a terceiros, com exceção dos clientes conforme se fizer necessário, e se compromete a não medir
    esforços no sentido de garantir que toda informação relativa aos produtos, serviços e operações da ODONTOPREV,
    fornecida por esta à CONTRATADA nos termos desta cláusula, não venham ao conhecimento de, ou sejam adquiridas
    por qualquer terceiro que não esteja autorizado a recebê-la. Outrossim, a CONTRATADA concorda que todas as
    informações pertinentes as operações da ODONTOPREV deverão ser tratadas como confidenciais e como segredo do comércio,
    pertencentes a ODONTOPREV. Sob nenhuma circunstância deverá a CONTRATADA, durante ou após o término da vigência deste contrato,
    utilizar, de forma direta ou indireta, qualquer material confidencial a que venha a ter acesso, além da autorização
    prevista neste contrato.
</p>

<p><b>X – DAS DISPOSIÇÕES GERAIS</b></p>

<p>
    10.1.   A CONTRATADA, representada neste ato na forma de seus atos constitutivos, DECLARA, sob as penas da Lei,
    conhecer, cumprir e exigir o cumprimento da Lei nº. 12.846/2013 (Lei Anticorrupção) e demais normas pertinentes ao tema,
    bem como do “Código de Conduta Ética” da ODONTOPREV, este disponível no endereço eletrônico  HYPERLINK
    "http://www.odontoprev.com.br/ri" http://www.odontoprev.com.br/ri, na área de “Governança Corporativa”,
    COMPROMETENDO-SE por si e por seus sócios, administradores, diretores, funcionários, colaboradores, prepostos e/ou
    agentes a qualquer título (doravante denominados “Representantes”), a:
</p>

<p>
    Conduzir todas suas práticas comerciais, financeiras e legais, inclusive as relacionadas à ODONTOPREV, de forma ética e legal,
    de acordo com o disposto na legislação aplicável acerca de práticas Anticorrupção, e com o “Código de Conduta Ética” da ODONTOPREV;
</p>

<p>
    Cumprir e exigir o cumprimento da Lei nº. 12.846/2013 (Lei Anticorrupção) e demais normas pertinentes ao tema em todos os
    níveis e esferas públicas e privadas, inclusive junto aos órgãos da Administração Pública Direta e Indireta, Nacional ou Estrangeira,
    rechaçando qualquer ato ou atividade que constitua ou possa ser entendido como ato lesivo aos interesses da Administração Pública
    Nacional ou Estrangeira e/ou transgressão à Lei Anticorrupção, principalmente, mas não se limitando às seguintes práticas: prometer,
    oferecer ou dar, diretamente ou indiretamente, vantagem indevida a Agente Público ou a pessoa relacionada a ele, com a finalidade
    de influenciar qualquer ato ou decisão do mesmo, assim como direcionar negócios a favor de qualquer pessoa ou entidade;
</p>

<p>
    Possuir políticas, processos e procedimentos anticorrupção, em conformidade com as leis, regulamentos e disposições normativas
    que tratam do combate à corrupção e suborno, nacionais ou estrangeiras;
</p>

<p>
    Denunciar à ODONTOPREV, por meio dos canais de comunicação disponíveis, qualquer ação ou omissão, ainda que não haja provas,
    que venha a ter conhecimento e que importem em descumprimento da legislação Anticorrupção vigente, e/ou ao “Código de Conduta Ética”
    da ODONTOPREV; e
</p>

<p>
    Declara ainda a CONTRATADA ter plena ciência de que o descumprimento do disposto no presente Termo ensejará a rescisão
    motivada de quaisquer contratos e/ou negócios que tenha celebrado com a ODONTOPREV, sem prejuízo das demais penalidades
    contratuais atreladas, bem como das demais medidas cabíveis em todas as esferas, inclusive, mas não se limitando a,
    medidas administrativas, criminais e de reparação de danos sofridos.
</p>

<p>
    10.2.  	As partes concordam que a aprovação deste contrato poderá ser exigida por alguns dos compradores dos serviços da
    ODONTOPREV e que a divulgação dos termos deste contrato poderá ser vantajosa, mesmo que tal aprovação não seja exigida.
    Qualquer das partes poderá, portanto, ao seu critério, divulgar a terceiros os termos deste contrato, no todo ou em parte.
</p>

<p>
    10.3. 	Fica expressamente estabelecido que as disposições contidas neste contrato não poderão, a qualquer tempo,
    ser entendidas como um contrato de trabalho entre as partes, e nem a CONTRATADA, nem seus empregados ou prepostos,
    poderão ser considerados empregados ou prepostos da ODONTOPREV. A CONTRATADA agirá sempre com completa e total autonomia
    no exercício da representação comercial contratada, ficando, dado o caráter empresarial da sua atividade, sob sua inteira
    responsabilidade não só os investimentos, tais como, mas não limitados, a locomoção, hospedagem, telefone, como também,
    e especialmente, as de natureza trabalhista, previdenciária e fundiária, os quais são de sua inteira responsabilidade.
</p>

<p>
    10.4. 	As partes acordam que, no caso de intenção de uma das partes contratar um funcionário ou ex-funcionário da outra,
    só o fará, com expressa autorização escrita da outra parte, sob pena de a parte que faltar ao acordo pagar à outra indenização
    nunca maior que 20 (vinte) vezes o valor da média mensal das comissões do último trimestre.
</p>

<p>
    10.5.  	A CONTRATADA não é mandatária ou procuradora da ODONTOPREV, e, em conseqüência, não poderá assumir quaisquer
    compromissos e/ou obrigações que conflitem com os demais interesses da ODONTOPREV ou com os de quem esta, por sua vez,
    também representar.
</p>

<p>
    10.6.  	A CONTRATADA deverá obedecer todas as leis e normas no decorrer de sua atuação em benefício da ODONTOPREV e
    indenizará e manterá a ODONTOPREV a salvo de quaisquer violações das leis e normas aplicáveis as suas atividades.
</p>

<p>
    10.7. 	A eventual aceitação por uma das partes da não execução pela outra, de quaisquer das cláusulas ou condições
    deste contrato, a qualquer tempo, deverá ser interpretada como liberalidade, não implicando, portanto na desistência
    de exigir o cumprimento das disposições aqui contidas ou do direito de pleitear, futuramente, a execução total de
    cada uma das obrigações.
</p>

<p>
    10.8.  	Qualquer notificação entre as partes será feita por escrito e enviada ao endereço do destinatário constante
    do preâmbulo do presente contrato. Este contrato cancela e substitui qualquer outro anteriormente firmado entre as partes.
</p>

<p><b>XI – DO FORO</b></p>

<p>
    11.  As partes elegem o Foro Central da Comarca da Capital de São Paulo como o único competente para dirimir dúvidas
    ou litígios decorrentes deste contrato.
</p>

<p>
    E por estarem justas e contratadas, assinam este instrumento em 2 (duas) vias de igual teor para um só efeito, na
    presença das testemunhas abaixo assinadas:
</p>

<p>Barueri, <b>__DataAceite__</b></p>
<!-- FINAL MIOLO -->

<div id="tablecontainer" style="padding-top: 40px;">
    <div class="tablecontainerrow espacamento-vertical">
        <div style="float: left; width: 80%;">
            <div class="tablecontainerrow">
                <div class=""
                     style="padding-right: 0px; font-size: 10px; font-style: Segoe UI, Regular; color: #ACAAA5;">&copy;
                    OdontoPrev. S/A - CNPJ: 58.119.199/0001-51
                </div>
            </div>
            <div class="tablecontainerrow">
                <div class=""
                     style="padding-right: 0px; font-size: 10px; font-style: Segoe UI, Regular; color: #ACAAA5;">Av.
                    Marcos Penteado de Ulhoa Rodrigues, 939 - 14 andar - Edif&iacute;cio Jatob&aacute; - Torre 2 -
                    Barueri - SP - CEP 06460-040
                </div>
                <div class="tablecontainerrow">
                </div>
            </div>
            <div class="tablecontainerrow">
                <div class=""
                     style="padding-right: 0px; font-size: 10px; font-style: Segoe UI, Regular; color: #ACAAA5;">
                    OdontoPrev - CRO/SP n&ordm; 2728 | RT: J. M. Benozatti - CRO/SP n&ordm; 19009
                </div>
            </div>
        </div>
        <div class="column2">
            <div class="" style="text-align: right;">
                <img style="right: 0px;"
                     src="https://www.parceirosodontoprev.com.br/img/ans.png"/>
            </div>
        </div>
    </div>
</div>
</body>

</html>