
<div id="tablecontainer">
	<div class="tablecontainerrow" style="border-bottom: 5px solid #ededed;">
		<p class="titleBloco fontRobotoBold fonte-titulo-blocos"><b>DADOS DA CORRETORA</b></p>
		<div class="tablecontainerrow">
			<div class="column1 fonte-label-empresa">Corretor(a)</div>
			<div class="column2 fonte-label-empresa">Corretora</div>
		</div>
		<div class="column1 fonte-value-empresa" style="padding-right: 10px;">__NomeCorretor__</div>
		<div class="column2 fonte-value-empresa" style="padding-right: 10px;">__NomeCorretora__</div>
	</div>
	
	<div class="tablecontainerrow">
		<p class="titleBloco fontRobotoBold fonte-titulo-blocos"><b>DADOS DA EMPRESA</b></p>		
		<div class="tablecontainerrow">
			<div class="column1 fonte-label-empresa">CNPJ</div>
			<div class="column2 fonte-label-empresa">Raz&atilde;o social</div>
			<div class="column3 fonte-label-empresa">Nome fantasia</div>
		</div>
		<div class="column1 fonte-value-empresa" style="padding-right: 10px;">__CNPJ__</div>
		<div class="column2 fonte-value-empresa" style="padding-right: 10px;">__RazaoSocial__</div>
		<div class="column3 fonte-value-empresa" style="padding-right: 10px;">__NomeFantasia__</div>
	</div>
		
	<div class="espacamento-vertical">
		<div class="tablecontainerrow">
			<div class="tablecontainerrow">
				<div class="column1 fonte-label-empresa">Ramo de atividade</div>
				<div class="column2 fonte-label-empresa">Representante legal</div>
				<div class="column3 fonte-label-empresa">CPF</div>
			</div>
			<div class="column1 fonte-value-empresa" style="padding-right: 10px;">__RamoDeAtividade__</div>
			<div class="column2 fonte-value-empresa" style="padding-right: 10px;">__RepresentanteLegal__</div>
			<div class="column3 fonte-value-empresa" style="padding-right: 10px;">__CPF__</div>
		</div>
	</div>
	
	<div class="espacamento-vertical">
		<div class="tablecontainerrow">	
			<div class="tablecontainerrow">
				<div class="column1 fonte-label-empresa">Telefone</div>
				<div class="column2 fonte-label-empresa">Celular</div>
				<div class="column3 fonte-label-empresa">E-mail</div>
			</div>
			<div class="column1 fonte-value-empresa" style="padding-right: 10px;">__Telefone__</div>
			<div class="column2 fonte-value-empresa" style="padding-right: 10px;">__Celular__</div>
			<div class="column3 fonte-value-empresa" style="padding-right: 10px;">__Email__</div>		
		</div>
	</div>
	
	<div class="tablecontainerrow">
		<p class="titleBloco fontRobotoBold fonte-titulo-blocos"><b>ENDERE&Ccedil;O DA EMPRESA</b></p>
		<div class="tablecontainerrow">
			<div class="column1 fonte-label-empresa">CEP</div>
		</div>
		<div class="column1 fonte-value-empresa" style="padding-right: 10px;">__CEP__</div>
	</div>
	
	<div class="espacamento-vertical">
		<div class="tablecontainerrow">	
			<div class="tablecontainerrow">
				<div class="column1 fonte-label-empresa">Endere&ccedil;o</div>
				<div class="column2 fonte-label-empresa">N&uacute;mero</div>
				<div class="column3 fonte-label-empresa">Complemento</div>
			</div>
			<div class="column1 fonte-value-empresa" style="padding-right: 10px;">__Endereco__</div>
			<div class="column2 fonte-value-empresa" style="padding-right: 10px;">__Numero__</div>
			<div class="column3 fonte-value-empresa" style="padding-right: 10px;">__Complemento__</div>		
		</div>
	</div>
	
	<div class="espacamento-vertical">
		<div class="tablecontainerrow">	
			<div class="tablecontainerrow">
				<div class="column1 fonte-label-empresa">Bairro</div>
				<div class="column2 fonte-label-empresa">Cidade</div>
				<div class="column3 fonte-label-empresa">Estado</div>
			</div>
			<div class="column1 fonte-value-empresa" style="padding-right: 10px;">__Bairro__</div>
			<div class="column2 fonte-value-empresa" style="padding-right: 10px;">__Cidade__</div>
			<div class="column3 fonte-value-empresa" style="padding-right: 10px;">__Estado__</div>		
		</div>
	</div>
	
	<div class="tablecontainerrow">
		<p class="titleBloco fontRobotoBold fonte-titulo-blocos"><b>DATAS CONTRATUAIS</b></p>
		<div class="tablecontainerrow">
			<div class="column1 fonte-label-empresa">Dia de vencimento da fatura</div>
			<div class="column2 fonte-label-empresa">Data__Prevista__ de corte da movimenta&ccedil;&atilde;o</div>
			<div class="column3 fonte-label-empresa">Data__Prevista__ de vig&ecirc;ncia</div>
		</div>
		<div class="column1 fonte-value-empresa" style="padding-right: 10px;">__DiaVencimentoFatura__</div>
		<div class="column2 fonte-value-empresa" style="padding-right: 10px;">__DataCorteMovimentacao__</div>
		<div class="column3 fonte-value-empresa" style="padding-right: 10px;">__DataVigencia__</div>
	</div>

</div>
