<div id="tablecontainer" style="padding-top: 40px;">
	<div class="tablecontainerrow espacamento-vertical">
		<div style="float: left; width: 80%;">
			<div class="tablecontainerrow">
				<div class=""
					 style="padding-right: 0px; font-size: 10px; font-style: Segoe UI, Regular; color: #ACAAA5;">&copy;
					OdontoPrev. S/A - CNPJ: 58.119.199/0001-51
				</div>

			</div>
			<div class="tablecontainerrow">
				<div class=""
					 style="padding-right: 0px; font-size: 10px; font-style: Segoe UI, Regular; color: #ACAAA5;">Av. Marcos
					Penteado de Ulhoa Rodrigues, 939 - 14 andar - Edif&iacute;cio Jatob&aacute; - Torre 2 - Barueri - SP - CEP
					06460-040
			</div>
			<div class="tablecontainerrow">

				</div>
			</div>
			<div class="tablecontainerrow">
				<div class=""
					 style="padding-right: 0px; font-size: 10px; font-style: Segoe UI, Regular; color: #ACAAA5;">OdontoPrev -
					CRO/SP n&ordm; 2728 | RT: J. M. Benozatti - CRO/SP n&ordm; 19009
				</div>

			</div>
		</div>
		<div class="column2">
			<div class=""
				 style="text-align: right;">
				<img width="136px" height="29px" style="right: 0px;" src="https://www.parceirosodontoprev.com.br/img/ans.png"/>
			</div>
		</div>
	</div>
</div>

</body>
</html>