
<div id="tablecontainer">
	<div class="tablecontainerrow" style="border-bottom: 5px solid #ededed;">
		<p class="titleBloco fontRobotoBold">DADOS DA CORRETORA</p>
		<div class="tablecontainerrow">
			<div class="column1">Corretor</div>
			<div class="column2">Corretora</div>
		</div>
		<div class="column1" style="padding-right: 10px;">__NomeCorretor__</div>
		<div class="column2" style="padding-right: 10px;">__NomeCorretora__</div>
	</div>
	
	<div class="tablecontainerrow">
		<p class="titleBloco fontRobotoBold">DADOS DA EMPRESA</p>		
		<div class="tablecontainerrow">
			<div class="column1">CNPJ</div>
			<div class="column2">Raz&atilde;o social</div>
			<div class="column3">Nome fantasia</div>
		</div>
		<div class="column1" style="padding-right: 10px;">__CNPJ__</div>
		<div class="column2" style="padding-right: 10px;">__RazaoSocial__</div>
		<div class="column3" style="padding-right: 10px;">__NomeFantasia__</div>
	</div>
		
	<div class="espacamento-vertical">
		<div class="tablecontainerrow">
			<div class="tablecontainerrow">
				<div class="column1">Ramo de atividade</div>
				<div class="column2">Representante legal</div>
				<div class="column3">CPF</div>
			</div>
			<div class="column1" style="padding-right: 10px;">__RamoDeAtividade__</div>
			<div class="column2" style="padding-right: 10px;">__RepresentanteLegal__</div>
			<div class="column3" style="padding-right: 10px;">__CPF__</div>
		</div>
	</div>
	
	<div class="espacamento-vertical">
		<div class="tablecontainerrow">	
			<div class="tablecontainerrow">
				<div class="column1">Telefone</div>
				<div class="column2">Celular</div>
				<div class="column3">E-mail</div>
			</div>
			<div class="column1" style="padding-right: 10px;">__Telefone__</div>
			<div class="column2" style="padding-right: 10px;">__Celular__</div>
			<div class="column3" style="padding-right: 10px;">__Email__</div>		
		</div>
	</div>
	
	<div class="tablecontainerrow">
		<p class="titleBloco fontRobotoBold">ENDERE&Ccedil;O DA EMPRESA</p>
		<div class="tablecontainerrow">
			<div class="column1">CEP</div>
		</div>
		<div class="column1" style="padding-right: 10px;">__CEP__</div>
	</div>
	
	<div class="espacamento-vertical">
		<div class="tablecontainerrow">	
			<div class="tablecontainerrow">
				<div class="column1">Endere&ccedil;o</div>
				<div class="column2">N&uacute;mero</div>
				<div class="column3">Complemento</div>
			</div>
			<div class="column1" style="padding-right: 10px;">__Endereco__</div>
			<div class="column2" style="padding-right: 10px;">__Numero__</div>
			<div class="column3" style="padding-right: 10px;">__Complemento__</div>		
		</div>
	</div>
	
	<div class="espacamento-vertical">
		<div class="tablecontainerrow">	
			<div class="tablecontainerrow">
				<div class="column1">Bairro</div>
				<div class="column2">Cidade</div>
				<div class="column3">Estado</div>
			</div>
			<div class="column1" style="padding-right: 10px;">__Bairro__</div>
			<div class="column2" style="padding-right: 10px;">__Cidade__</div>
			<div class="column3" style="padding-right: 10px;">__Estado__</div>		
		</div>
	</div>
	
	<div class="tablecontainerrow">
		<p class="titleBloco fontRobotoBold">DATAS CONTRATUAIS</p>
		<div class="tablecontainerrow">
			<div class="column1">Dia de vencimento da fatura</div>
			<div class="column1">Data de corte da movimenta&ccedil;&atilde;o</div>
			<div class="column1">Data de vig&ecirc;ncia</div>
		</div>
		<div class="column1" style="padding-right: 10px;">__DiaVencimentoFatura__</div>
		<div class="column1" style="padding-right: 10px;">__DataCorteMovimentacao__</div>
		<div class="column1" style="padding-right: 10px;">__DataVigencia__</div>
	</div>

</div>
