<table style="border-left: 2px solid #EDEDED; border-right: 2px solid #EDEDED; padding-bottom: 10px; padding-right: 10px;"
       width="100%">
    <tr>
        <td>
            <div class="espacamento-vertical" style="padding-left: 10px;">
                <div class="tablecontainerrow">
                    <div class="tablecontainerrow">
                        <div class="column1 fonte-dados-ben-dep"><b>__Nome__</b></div>
                    </div>
                </div>
            </div>

            <div class="espacamento-vertical" style="padding-left: 10px;">
                <div id="tablecontainer">
                    <div class="tablecontainerrow">
                        <div class="column1 fonte-dados-ben-dep"><b>CPF:&nbsp;</b>__CPF__</div>
                        <div class="column2 fonte-dados-ben-dep"><b>Sexo:&nbsp;</b>__Sexo__</div>
                        <div class="column3 fonte-dados-ben-dep"><b>Data de nascimento:&nbsp;</b>__DataNascimento__
                        </div>
                    </div>
                </div>
            </div>

            <div class="espacamento-vertical" style="padding-left: 10px;">
                <div id="tablecontainer">
                    <div class="tablecontainerrow">
                        <div class="column1 fonte-dados-ben-dep"><b>Nome da m&atilde;e:&nbsp;</b>__NomeMae__</div>
                        <div class="column2 fonte-dados-ben-dep"><b>Plano:&nbsp;</b>__Plano__</div>

                    </div>
                </div>
            </div>
            <div>&nbsp;
            </div>
        </td>
    </tr>
</table>